.ボタン_2.0_記事LP1.png {
  height: -10000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.ボタン_2.0_記事LP2.png {
  height: -7000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.ボタン_2.0_記事LP3.png {
  height: -4000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.ボタン_2.0_記事LP4.png {
  height: -1000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
