.botan1 {
  height: -10000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.botan2 {
  height: -7000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.botan3 {
  height: -4000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.botan4 {
  height: -1000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
