.botan1 {
  height: -1000px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.botan2 {
  height: -700px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.botan3 {
  height: -400px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
.botan4 {
  height: -100px;      /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
